@import "utilities/variables";
@import "../components/test1/test1";
@import "../components/test2/test2";

body {
  margin: 0;
  padding: 0;
  background-color: map-get($map: $colors, $key: primary);
}
