$colors: (
  primary: rgb(9, 147, 202),
  secondary: rgb(241, 231, 159),
  default: rgb(197, 200, 204),
  black: rgb(38, 38, 38),
  white: rgb(255, 255, 242)
);

$btn-colors: (
  default: rgb(197, 200, 204),
  black: rgb(38, 38, 38),
  red: rgb(214, 64, 72),
  blue: rgb(66, 126, 205)
);
