@import "../../stylesheets/utilities/variables";
@import "../../stylesheets/partials/container";

.nav {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: map-get($map: $colors, $key: primary);
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;

  li {
    list-style: none;

    a {
      padding: 10px 20px;
      text-decoration: none;
      text-transform: capitalize;
      color: map-get($map: $btn-colors, $key: black);
      font-size: 1.25em;
      position: relative;

      &::before {
        content: "";
        width: 0px;
        height: 4px;
        background-color: black;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: 0.5s;
      }
    }

    &:hover a::before {
      width: 100%;
    }
  }
}
