@import "../utilities/variables";

.btn {
  background-color: map-get($map: $btn-colors, $key: default);
  color: map-get($map: $colors, $key: white);
  border: 3px solid map-get($map: $btn-colors, $key: default);
  border-radius: 5px;
  padding: 10px 28px;
  font-size: 1.2rem;
  margin: 5px;
  font-weight: 600;
  transition: 0.3s;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: darken(map-get($map: $btn-colors, $key: default), 10%);
    border: 3px solid darken(map-get($map: $btn-colors, $key: default), 10%);
    color: map-get($map: $btn-colors, $key: black);
  }

  &:active {
    background-color: darken(map-get($map: $btn-colors, $key: default), 20%);
    border: 3px solid darken(map-get($map: $btn-colors, $key: default), 20%);
  }

  // sizes
  &.small {
    padding: 4px 18px;
    font-size: 1rem;
  }

  &.big {
    padding: 12px 32px;
    font-size: 1.5rem;
  }

  &.huge {
    padding: 14px 36px;
    font-size: 1.75rem;
  }

  // colors
  &.primary {
    background-color: map-get($map: $colors, $key: primary);
    border: 3px solid map-get($map: $colors, $key: primary);

    &:hover {
      background-color: darken(map-get($map: $colors, $key: primary), 10%);
      border: 3px solid darken(map-get($map: $colors, $key: primary), 10%);
    }

    &:active {
      background-color: darken(map-get($map: $colors, $key: primary), 20%);
      border: 3px solid darken(map-get($map: $colors, $key: primary), 20%);
    }
  }

  &.secondary {
    background-color: map-get($map: $colors, $key: secondary);
    border: 3px solid map-get($map: $colors, $key: secondary);

    &:hover {
      background-color: darken(map-get($map: $colors, $key: secondary), 10%);
      border: 3px solid darken(map-get($map: $colors, $key: secondary), 10%);
    }

    &:active {
      background-color: darken(map-get($map: $colors, $key: secondary), 20%);
      border: 3px solid darken(map-get($map: $colors, $key: secondary), 20%);
    }
  }

  &.red {
    background-color: map-get($map: $btn-colors, $key: red);
    border: 3px solid map-get($map: $btn-colors, $key: red);

    &:hover {
      background-color: darken(map-get($map: $btn-colors, $key: red), 10%);
      border: 3px solid darken(map-get($map: $btn-colors, $key: red), 10%);
    }

    &:active {
      background-color: darken(map-get($map: $btn-colors, $key: red), 20%);
      border: 3px solid darken(map-get($map: $btn-colors, $key: red), 20%);
    }
  }

  &.blue {
    background-color: map-get($map: $btn-colors, $key: blue);
    border: 3px solid map-get($map: $btn-colors, $key: blue);

    &:hover {
      background-color: darken(map-get($map: $btn-colors, $key: blue), 10%);
      border: 3px solid darken(map-get($map: $btn-colors, $key: blue), 10%);
    }

    &:active {
      background-color: darken(map-get($map: $btn-colors, $key: blue), 20%);
      border: 3px solid darken(map-get($map: $btn-colors, $key: blue), 20%);
    }
  }

  &.inverted {
    background-color: transparent;
  }
}
